*{
     margin: 0;
     padding: 0;
     box-sizing: border-box ;
     text-decoration: none;
    
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --Fonte: 'Lato', sans-serif;
    --cor-background:#ffffff;
    --cor-botões: #FFE0E7;
    --cor-hover: #FFA9F9;

}

body{
    background-image: url(bg-bia.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

.link-bio{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 350px;
    border-radius: 20px;
}

.link-bio img{
    width: 200px;
    height: 200px;
    border-radius: 55% 50%;
    margin: 20px;
}

.link-bio h1{
    display: flex;
    font-size: 3rem;
    align-items: center;
    color:  #DDAA9F;
       
}

.link-bio p{
    margin: 10px 0px 20px 0px ;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px ;
    font-family: var(--Fonte);
}

.link-bio a{
    background: #DDAA9F;
    color: #ffffffff;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
    border-radius: 40px;
    width: 90%;
    padding: 20px;
    transform-style: preserve-3d;
}

.link-bio a:hover{
    background: #FFA9F9;

}


